<a href="/audithorium"> Back to list</a>
<h1>Audithorium: {{audithorium.name}}</h1>

<style>
    .title {
  margin-bottom: 20px;
}

.cinema-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SCREEN */
.screen {
  width: 70%;
  height: 60px;
  background: linear-gradient(to bottom, #eee, #bbb);
  border-radius: 50% / 20%;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* SEATING AREA */
.seating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ROW */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ROW LABEL */
.row-label {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

/* SEAT */
.seat {
  width: 22px;
  height: 22px;
  background-color: #4CAF50;
  margin: 3px;
  border-radius: 4px;
  transition: 0.2s;
}

.seat:hover {
  background-color: #66bb6a;
  transform: scale(1.2);
  cursor: pointer;
}

/* AISLE SPACE */
.aisle {
  width: 20px;
}
</style>

<!-- EDIT FORM -->
<form method="POST" action="/audithorium/edit/{{audithorium.id}}">
  <label>Name:</label>
  <input type="text" name="name" value="{{audithorium.name}}" />

  <label>Rows:</label>
  <input type="number" name="number_of_rows" value="{{audithorium.number_of_rows}}" />

  <label>Seats per row:</label>
  <input type="number" name="number_of_seats_in_row" value="{{audithorium.number_of_seats_in_row}}" />

  <br /><br />
  <button type="submit">Update</button>
</form>
<form method="POST" action="/audithorium/formats/{{audithorium.id}}">
   <input type="hidden" name="number_of_seats_in_row" value="{{audithorium.id}}" />
   <label>Formtas:</label>
  {{#each formats}}
 <label>{{this.name}}:</label>
  <input type="checkbox" name="formats" value="{{this.name}}" {{#if this.selected }} checked {{/if}} />
  {{/each}}
  <br /><br />
  <button type="submit">Update</button>
  
</form>

<hr />

<h2 class="title">Schematic View</h2>

<div class="cinema-container">

  <!-- SCREEN -->
  <div class="screen">SCREEN</div>

  <!-- SEATS -->
  <div class="seating">
    {{#each (range 1 audithorium.number_of_rows)}}
      <div class="row">
        <div class="row-label">
          {{toChar @index}}
        </div>

        {{#each (range 1 ../audithorium.number_of_seats_in_row)}}
          <div class="seat"></div>

          <!-- aisle in the middle -->
          {{#if (isMiddle this ../../audithorium.number_of_seats_in_row)}}
            <div class="aisle"></div>
          {{/if}}

        {{/each}}
      </div>
    {{/each}}
  </div>

</div>